.Wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contentBlock {
    width: 975px;
    height: 1000px;
    text-align: center;
    padding: 30px 20px 0px;
    margin: 0 0 30px;
}

.savedStories {
    height: 130px;
    width: 100%;
    border: 1px solid orange;
    margin-bottom: 50px;
}

