.Wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contentBlock {
    width: 975px;
    height: 1000px;
    text-align: center;
    padding: 30px 20px 0px;
    margin: 0 0 30px;
}

.savedStories {
    height: 130px;
    width: 100%;
    border: 1px solid orange;
    margin-bottom: 50px;
}

.postsWrapper {
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.postCard {
    display: flex;
    align-items: center;
    justify-content: space between;
    width: 16vw;
    height: 16vw;
    overflow: hidden;
    border: 10px solid white;
}

.postInfo {
    height: 100%;
    width: 100%;
    opacity: 0;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease;
}

.postInfo:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .3);
}

/* medias for post cards */

@media (max-width: 1700px) {
    .postCard {
        width: 18vw;
        height: 18vw;
    }
}

@media (max-width: 1500px) {
    .postCard {
        width: 20vw;
        height: 20vw;
    }
}

@media (max-width: 1350px) {
    .postCard {
        width: 22vw;
        height: 22vw;
    }
}

@media (max-width: 1200px) {
    .postCard {
        width: 25vw;
        height: 25vw;
    }
}

@media (max-width: 1130px) {
    .postCard {
        width: 27vw;
        height: 27vw;
    }
}

@media (max-width: 1000px) {
    .postCard {
        width: 30vw;
        height: 30vw;
    }
}

@media (max-width: 450px) {
    .postCard {
        width: 29vw;
        height: 29vw;
    }
}