.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formBlock {
    height: 750px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */

