.headerWrapper {
    width: 100%;
    height: 54px;
}

.Wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 200px;
    z-index: 1000;
}

.mainBlock {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
    width: 380px;
    margin-left: 5px;
}

@media (min-width:980px) {
    .mainBlock {
        width: 975px;
    }
}

@media (max-width:975px) {
    .mainBlock {
        width: 100%;
    }
}