.navbar {
    text-align: right;
    margin-right: 5px;
    width: 380px;
}

.navbar div {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar div img {
    width: 25px;
    height: 25px;
}
