
.avatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: relative;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.avatar .dropDownMenuWrapper {
    background-color: white;
    border: 1px solid #dbdbdb;
    border-top: none;
    border-radius: 0 0 6px 6px;
    position: absolute;
    left: -190px;
    font-size: 14px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 215px;
    transition: .25s ease;
}

.logOutBtn {
    border-top: 1px solid #dbdbdb;
    color: red;
}


.dropDownMenuItem {
    height: 37px;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    display: flex;
}

.dropDownMenuItem svg {
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.avatar a {
    color: black;
    width: 100%;
    position: relative;
    left: -10px;
}